sudo: required
cache:
  directories:
    - $HOME/.m2
language: java
services:
  - docker
jdk:
#- openjdk7
- oraclejdk7
- oraclejdk8
os:
  - linux
env:
  matrix:
    - NEO_VERSION=3.0.2
      WITH_DOCKER=true
      EXTRA_PROFILES=-Pwith-neo4j-io
before_script:
# Workaround for Travis CI buffer overflow with OpenJDK 7
# Details: https://github.com/travis-ci/travis-ci/issues/5227#issuecomment-165131913
  - cat /etc/hosts
  - echo "$(hostname | cut -c1-63)"
  - sudo hostname "$(hostname | cut -c1-63)"
  - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts | sudo tee /etc/hosts
  - cat /etc/hosts
# End of workaround
script: build/run.sh
install: true
after_success:
  - mvn clean test jacoco:report coveralls:report
  - "[ ${TRAVIS_PULL_REQUEST} = 'false' ] && [[ ${TRAVIS_BRANCH} = master* ]] && mvn clean deploy -DskipTests --settings ./deploy-settings.xml"

