language: java
jdk:
- openjdk7
- oraclejdk7
- oraclejdk8
os:
  - linux
  - osx
env:
  matrix:
    - NEO_VERSION=2.0.3
    - NEO_VERSION=2.0.4
    - NEO_VERSION=2.1.0
    - NEO_VERSION=2.1.1
    - NEO_VERSION=2.1.2
    - NEO_VERSION=2.1.3
    - NEO_VERSION=2.1.4
    - NEO_VERSION=2.1.5
    - NEO_VERSION=2.1.6
    - NEO_VERSION=2.1.7
    - NEO_VERSION=2.1.8
script: "mvn -T4 clean test -Dneo4j.version=${NEO_VERSION}"
after_success:
  - mvn clean test jacoco:report coveralls:report
